body {
    background-color: azure;
}
a{
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease;

}
a:hover{
    transform: scale(1.1);
}
a:visited{
    color: green;
}
#title{
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: navy;
}
#section1{
    display: flex;
    align-items: center;
    gap: 20px;
}
#img1{
    width: 400px;
    height: auto;
    image-rendering: auto;
    /*float: left;*/
}
p.p1{
    line-height: 1.7em;
    text-indent: 0em;
    flex: 1;
}
.subtitle1{
    font-weight: 800;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: navy;
}
.subtitle2{
    font-weight: 800;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: navy;
}

img {
    width: 300px;
    height: auto;
    image-rendering: auto;
}
p{
    text-indent: 2em;
    text-align: justify;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}
main li{
    text-align: justify;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}
q{
    color: rgb(224, 68, 12);

}
footer{
    color: rgb(2, 80, 2);
}