#title{
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    color: hsl(157, 100%, 25%);
}
/*#fang{
    float: left;
    width: 30%;

}
#field{
    float: left;
    width: 30%;

}
#sudano{
    float: right;
    width: 30%;
}
#sawa{
    clear: both;
}*/
main{
    column-count: 3;
    column-gap: 35px;
    column-rule: 2px solid black;
}
a{
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease;

}
a:hover{
    transform: scale(1.1);
}
a:visited{
    color: green;
}
